<section class="post-index">
  <div>
    <div class="col-md-7">
        <% @articles.each do |article| %>
     <h1><%= link_to article.title, article, class:"large-title"%></h1>
     <span>
      <div class="editor-post-info">
          <%= image_tag article.user.avatar.url, class:"image-editor-index"%>
      <div>
            <%=  article.user.username %>
          <div class="date-topips-posts">
            <div class="date-post">
            <%= article.created_at.strftime("%d %b. %Y %H:%M") %>
            </div>
            <div>
              <a href="/blog/topic/open-source" class="read-me">Topic</a>

              <a href="/blog/topic/github" class="read-me">Topic 2</a>     
            </div>
          </div>
        </div>
      </div>   
     </span>
     <div class="blog-post__resource">
    </div>
    <div class="body-post-index">
     <h2 class="text-post-index">
        <%= raw article.body.truncate_words(40) %>   
     </h2>
     <%= link_to article, class:"read-me" do %> 
     Read me
     <% end %>
    </div>
    <% end %>
    <%= will_paginate @articles, renderer: BootstrapPagination::Rails, previous_label:"Anterior", :page_links => false, class:"will-page"%>
    <div class="page_info">
        <%= page_entries_info @articles %>
    </div>
    </div>
  </div>
</section>



