<p id="notice"><%= notice %></p>

<h1>Category</h1>
</br>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @category.desc %>
</p>

</br>
</br>

<div class="panel panel-default">
<div class="panel-heading">
<strong> Article under this category </strong>
</div></div>
<% Article.where(category_id: @category.id).each do |article| %>
<ul class="list-group">
<li class="list-group-item" > <%= link_to article.title, article %> </li>
</ul>

<% end %>

</br>
</br>

<%= link_to 'Edit', edit_category_path(@category), class:"btn btn-default" %> 
<%= link_to 'Back', categories_path, class:"btn btn-default" %>
